<script type="text/javascript" charset="utf-8">
  jQuery(function() {
    function updateTask(task) {
      var task = jQuery(task);
      jQuery.ajax({
        url: "/tasks/" + task.attr("id"),
        type: "PUT",
        dataType: "json",
        data: "task[name]=" + task.find("input[type=text]").val() + "&authenticity_token=" + '<%= form_authenticity_token %>', 
        success: function(task_update) {
          task.find("span.editable").text(task_update.task.name);
        },
        error: function() {
          alert("There was a problem updating the data");
        }
      });
    };
    
    jQuery("ul#tasks li span").click(function() {
      // Self is the parent li, because while we want to work from there, the span needs the 
      // click so as to avoid the re-firing of the click even on the new elements
      var self = jQuery(this).parents("li");
      var editable_span = self.find("span.editable");

      editable_span.css("display", "none");
      self.append('<input type="text" value="' + editable_span.text() + '"/>')
          .append('<input type="submit" class="save_btn" value="Save" />')
          .append('<input type="submit" class="cancel_btn" value="Cancel" />');
      
      function revertFromEdit() {
        editable_span.css("display", "block");        
        self.find("input").remove();       
      };
      
      self.find("input.save_btn").click(function() {
        updateTask(self);
        revertFromEdit();
        return false;
      });
      
      self.find("input.cancel_btn").click(function() {
        revertFromEdit();
        return false;
      });
    });
  });
</script>

<h2>Tasks</h2>
<ul id="tasks">
  <% @tasks.each do |task| -%>
    <li id="<%= task.id %>"><span class="editable"><%= task.name %></span></li>
  <% end -%>
</ul>