<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html xml:lang="en">
  <head>
    <title>JGailors Rails Spikes</title>
    <%= javascript_include_tag "jquery-1.2.6" %>
  </head>
  <body>
    <%= yield :layout %>
  </body>
</html>